.post-master-container {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: lightcoral;
    border: 2px solid black;
    margin: 10px 0;
}

.comments-container {
    margin: 20px;
}

.comment-container {
    border: 2px solid black;
    width: 33%;
    margin: 10px 0px;
    padding: 10px;
}

.comment-option {
    margin: 0px 5px;
}

.options-container {
    margin: 20px;
}

.post-container {
    margin: 20px;
}

.comments-container-empty {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.back-btn {
    width: 100px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: rgb(105, 105, 105);
}