.link {
    text-decoration: none;
    color: white;
}

.reaction-container {
    background-color: goldenrod;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.reaction-item {
    margin: 15px auto;
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: cornflowerblue;
}

.reaction-list {
    display: flex;
    flex-flow: wrap;
}